.main {
    display: flex;
    flex-direction: column;
    padding: 4%;
    height: 100%;
}

.info {
    border-radius: 3%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}
