.container {
    display: flex;
    flex-direction: column;
}

.header {
    align-self: flex-end;
    text-decoration: underline;
    margin-right: 2%;
}

.card {
    /* padding: .5rem .6rem; */
    border-radius: 10%;
    background-color: #77807Ff0;
    /* border: 3px solid #323228; */
    /* box-shadow: 1px 3px #323228; */
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image {
    max-width:  100%;
    height: auto;
    border-radius: 10%;
}

.card h5 {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}
