.container {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: 10%;
    background: rgba(var(--card-rgb), 0);
    border: 1px solid #8E8D8A;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image {
    display: flex;
    flex-direction: column;
    max-width:  100%;
    height: auto;
}

.card h5 {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}
