.main {
  display: flex;
  flex-direction: column;
  padding: 4%;
  color: #E7D1B7;
  height: 100%;
}

.avatar {
  width: 75vw;
  height: fit-content;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  background-color: #26012Ad6;
  padding-bottom: 3%;
}


.skills {
  font-size: x-large;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: #26012Ad6;

}

.title {
  margin-top: 3%;
  padding-top: 3%;
  text-align: center;
  text-decoration: underline;
  font-size: x-large;
  background-color: #26012Ad6;
}
