.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 50vw;
  height: fit-content;
  align-self: center;
}

.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
}

.skillContainer {
  align-self: center;
  min-width: 75%;
}

.skills {
  font-size: x-large;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10%;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  text-decoration: underline;
  font-size: x-large;
}

@media (min-width: 960px) {
  .main {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  .info {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas:
      "avatar name";
      /* "avatar social"; */
    font-size: x-large;
    animation: border-flicker 1.5s infinite alternate;
    border: 0.2rem solid #C399FF;
    border-radius: 2rem;
    margin-top: 10%;
    padding: 1.4em;
    box-shadow: 0 0 .2rem #C399FF,
              0 0 .2rem #C399FF,
              0 0 2rem #D62C92,
              0 0 0.8rem #D62C92,
              0 0 2.8rem #D62C92,
              inset 0 0 1.3rem #D62C92;
  }

  .avatar {
    width: 40vw;
    height: fit-content;
    justify-self: center;
    grid-area: avatar;
  }

  .basic {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
  }

  .skillContainer {
    display: flex;
    justify-content: center;

  }

  .skills {
    column-gap: 20%;
  }

  .skills > p {
    width: max-content;
  }

  .title {
    font-size: xxx-large;
  }

  @keyframes border-flicker {
    0% {
      opacity:0.1;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }
    2% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }
    4% {
      opacity:0.1;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }

    8% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }
    70% {
      opacity:0.7;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }
    100% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px #63103ebd;
  -moz-box-shadow: 0px 0px 78px 4px #D62C92bd;
  box-shadow: 0px 0px 78px 4px #c399ffbd;
    }
  }

}
