.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 50vw;
  height: fit-content;
  align-self: center;
}

.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
}

.skillContainer {
  margin: 5%;
  align-self: center;
  min-width: 75%;
}

.skills {
  font-size: x-large;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10%;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  text-decoration: underline;
  font-size: x-large;
}

@media (min-width: 960px) {
  .main {
    margin-left: 10%;
    margin-right: 10%;
  }

  .info {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: auto;
    grid-template-areas:
      "avatar name";
      /* "avatar social"; */
    font-size: x-large;
    padding-bottom: 3%;
  }

  .avatar {
    width: 40vw;
    height: fit-content;
    /* justify-self: center; */
    grid-area: avatar;
  }

  .basic {
    grid-template-areas: name;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
  }

  .skillContainer {
    display: flex;
    justify-content: center;

  }

  .skills {
    column-gap: 20%;
  }

  .skills > p {
    width: max-content;
  }

  .title {
    font-size: xxx-large;
  }
}
