.container {
    display: flex;
    flex-direction: column;
}

.header {
    align-self: flex-end;
    text-decoration: underline;
    margin-right: 2%;
}

.card {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.card_image {
    max-width:  50%;
    height: auto;
    border-bottom: none;
    border-radius: 4%;
    padding: 1%;
    align-self: center;
}

.card h2 {
    margin-top: 1%;
    text-align: center;
}

.card h5 {
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: center;
}

.card ul {
    margin-left: 7%;
    margin-bottom: 2%;
}

.card a {
    align-self: center;
    text-decoration: underline;
    font-size: large;
}

.picDesc {
    padding-top: 2%;
}

.divider {
    border: 3px solid #D62C92;
}
